<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Effort Estimates{%if strata != "++_++_++_++" %} for {{ strata }}{%endif%}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <td>Observed Trip Count</td>
                    <td>Estimated Trip Count</td>
                    <td>Activity Count</td>
                    <td>Interview Count</td>
                    <td>Angler Count</td>
                    <td>Rods </td>
                    <td>Total Angler Estimates (ang-hrs) </td>
                    <td>Total Angler Estimates (rod-hrs) </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ estimates.tripno }}</td>
                    <td>{{ estimates.tripne }}</td>
                    <td>{{ estimates.atycnt_s }}</td>
                    <td>{{ estimates.cif_nn }}</td>
                    <td>{{ estimates.angler_s }}</td>
                    <td>{{ estimates.rod_s }}</td>
                    <td>{{ estimates.effae }}</td>
                    <td>{{ estimates.effre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
