{% load humanize %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Catch Estimates for {{ fr714.grouper }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Species</th>
                    <th>Obs. Harvest</th>
                    <th>Est. Harvest</th>
                    <th>Obs. Targ. Harvest</th>
                    <th>Est. Targ. Harvest</th>
                    <th>Obs. Catch</th>
                    <th>Est. Catch</th>
                    <th>Obs. Targ. Catch</th>
                    <th>Est. Targ. Catch</th>
                    <th>Obs. Targ. Effort</th>
                    <th>Est. Targ. Effort</th>
                    <th>Obs. Cpue</th>
                    <th>Est. Cpue</th>
                    <th>Obs. Targ. Cpue</th>
                    <th>Est. Targ. Cpue</th>
                </tr>
            </thead>
            <tbody>
                {% for spc in fr714.list %}
                <tr>
                    <td>{{ spc.species.spc_nmco }}</td>
                    <td  class="text-right">{{ spc.hvsno_s  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.hvsne  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.hvsno1_s  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.hvsne1  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.catno_s  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.catne  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.catno1_s  | default_if_none:"---" | floatformat:0 | intcomma }}</td>
                    <td  class="text-right">{{ spc.catne1  | default_if_none:"---" | floatformat:0 | intcomma }}</td>

                    <td  class="text-right">{{ spc.effao1_s  | default_if_none:"---" | floatformat | intcomma }}</td>
                    <td  class="text-right">{{ spc.effae1  | default_if_none:"---" | floatformat | intcomma }}</td>

                    <td  class="text-right">{{ spc.cuenao | default_if_none:"---" | floatformat:3 }}</td>
                    <td  class="text-right">{{ spc.cuenae | default_if_none:"---" | floatformat:3 }}</td>
                    <td  class="text-right">{{ spc.cuenao1 | default_if_none:"---" | floatformat:3 }}</td>
                    <td  class="text-right">{{ spc.cuenae1 | default_if_none:"---" | floatformat:3 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
