{% load humanize %} 

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Effort Estimates for {{ fr713.fr712.stratum.stratum_label }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <td>Observed Trip Count</td>
                    <td>Estimated Trip Count</td>
                    <td>Activity Count</td>
                    <td>Interview Count</td>
                    <td>Angler Count</td>
                    <td>Rods </td>
                    <td>Total Angler Estimates (ang-hrs) </td>
                    <td>Total Angler Estimates (rod-hrs) </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right">{{ fr713.tripno | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.tripne | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.atycnt_s | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.cif_nn | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.angler_s | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.rod_s | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.effae | default_if_none:"---" | intcomma }}</td>
                    <td class="text-right">{{ fr713.effre | default_if_none:"---" | intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
