{% extends "base.html" %}


{% load staticfiles %}

{% block extrahead  %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reductio/0.6.3/reductio.js"></script>  -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.3/dc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.3/dc.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

<script src="{% static 'leaflet-bubble.js' %}"></script>

<style type="text/css" media="screen">
 #filter-buttons a {
     margin-bottom: 3px;
 }
 .dc-chart g.row text {fill: black;}
</style>

{% endblock %}


{% block content %}

<div class="row" >
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="map" style="width: 1000px; height: 600px;"></div>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" >
            <div class="col-md-4" >
                <div id="catch-species-chart">
                    <strong>Catch By Species</strong>
                    <a class="reset" href="javascript:catSpeciesChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>

            <div class="col-md-4" >
                <div id="catch-season-chart">
                    <strong>Catch By Season</strong>
                    <a class="reset" href="javascript:catSeasonChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
            <div class="col-md-4" >
                <div id="catch-space-chart">
                    <strong>Catch By Space</strong>
                    <a class="reset" href="javascript:catSpaceChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" >
            <div class="col-md-4" >
                <div id="catch-daytype-chart">
                    <strong>Catch By Day Type</strong>
                    <a class="reset" href="javascript:catDaytypeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>

            <div class="col-md-4" >
                <div id="catch-period-chart">
                    <strong>Catch By Period Type</strong>
                    <a class="reset" href="javascript:catPeriodChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
            <div class="col-md-4" >
                <div id="catch-mode-chart">
                    <strong>Catch By Fishing Mode</strong>
                    <a class="reset" href="javascript:catModeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Add buttons to switch between variables - harvest, catch, estimates, observed.</p>


<h4>Cacth by Strata</h4></h4>
<div class="dc-data-count">
</div>

<div class='container' style='font: 12px sans-serif;'>
    <div class='row'>
        <div class='span12'>
            <table class='table table-hover' id='dc-data-table'>
                <thead>
                    <tr class='header'>
                        <td>Area</td>
                        <td>Season</td>
                        <td>Day Type</td>
                        <td>Period</td>
                        <td>Mode</td>
                        <td>Sek</td>
                        <td>Species</td>
                        <td>Estimated Catch</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



{% endblock content %}


{% block javascript %}

<script type="text/javascript">


 var spaces = {{ spaces|safe }};



 function get_map_points(x, pts){
     // give a list/array, extract format the elements
     // for use with leaflet.
     var len = x.length
     var points={};

     // create an list of objects that will use the area string as their key

     //TODO - add second level to each area for spc
     for (var i = 0; i < len; i++) {
         var tmp = x[i];
         // if it exists, add the values from this iteration
         if (points[tmp.area] !=undefined){
             points[tmp.area].catne += tmp.catne;

             if(points[tmp.area].species[tmp.species]!=undefined){
                 points[tmp.area].species[tmp.species] += tmp.catne;
             } else {
                 points[tmp.area].species[tmp.species] = tmp.catne;
             }


         } else {
             // if not, create on
             points[tmp.area] = {
                 area: tmp.area,
                 species: tmp.species,
                 ddlat: tmp.ddlat,
                 ddlon: tmp.ddlon,
                 catne: tmp.catne,
             };
             points[tmp.area].species = {};
             points[tmp.area].species[tmp.species] = tmp.catne;
         }
     }
     return points
 }


 function get_spc_list(pt){
     var species_string = '';
     if (Object.keys(pt.species)){
         species_names = Object.keys(pt.species);
         species_string += '<ul>';
         for (spc in species_names){
             species_string += '<li>' + species_names[spc] + ': ' + pt.species[species_names[spc]].toFixed(1) + '</li>';
         }
         species_string += '</ul>';
     } else {
         species_string = 'None';
     }
     return species_string;
 }


 function points_to_geojson(points){
     // this function takes a list of points and converts it to geoJson format
     // required by leaflet-bubble.js
     var features = []
     _.each(points, function (d){

         spc_list = get_spc_list(d);

         features.push({
             "type": "Feature",
             "geometry":{
                 "type": "Point",
                 "coordinates": [d.ddlon, d.ddlat]},
             "properties":{
                 "Space": d.area,
                 "Total Catch": d.catne.toFixed(1),
                 'species':spc_list
             }});
     });

     var geojson =  {"type": "FeatureCollection",
                     "features": features };

     return geojson
 }



 // var catSeasonChart = dc.barChart('#catch-season-chart');
 // var catSpaceChart = dc.barChart('#catch-space-chart');

 var catSpeciesChart = dc.pieChart('#catch-species-chart');
 var catSeasonChart = dc.rowChart('#catch-season-chart');
 var catSpaceChart = dc.rowChart('#catch-space-chart');


 var catModeChart = dc.pieChart('#catch-mode-chart');
 var catPeriodChart = dc.pieChart('#catch-period-chart');
 var catDaytypeChart = dc.pieChart('#catch-daytype-chart');

 var catchTable = dc.dataTable('#dc-data-table');//); //, chartGroup);

 d3.json("{% url 'catch_estimates' creel.slug %}", function (error, data) {

     data = data.results

     var mydateformat = d3.time.format('%B %d, %Y');
     var isodateformat = d3.time.format.iso;

     data.forEach(function(d){
         d.mode = d.mode;
         d.season = d.season;
         d.dtp = d.dtp;
         d.period = d.period;
         d.species = d.species;
         d.area = d.area;
         d.date = isodateformat.parse(d.date);
         d.sek = d.sek;
         d.catne = +d.catne;
         d.ddlat = +d.ddlat;
         d.ddlon = +d.ddlon;

     });

     var estimates = crossfilter(data);

     var all = estimates.groupAll();
     var all_catne = all.reduceSum(function(d){return d.catne;});
     //var all_catae = all.reduceSum(function(d){return d.catae;});

     //create a dimension for each strata
     var modeDim = estimates.dimension(function(d) { return d.mode; });
     var ssnDim = estimates.dimension(function(d) { return d.season; });
     var daytypeDim = estimates.dimension(function(d) { return d.dtp; });
     var periodDim = estimates.dimension(function(d) { return d.period; });
     var areaDim = estimates.dimension(function(d) { return d.area; });
     var speciesDim = estimates.dimension(function(d) { return d.species; });

     // create goups from each of our dimensions
     var modeGroup = modeDim.group();
     var ssnGroup = ssnDim.group();
     var daytypeGroup = daytypeDim.group();
     var periodGroup = periodDim.group();
     var areaGroup = areaDim.group();
     var speciesGroup = speciesDim.group();

     // reducer functions for each group:
     // sum for now, but could be more complicated later

     var modeGroupcatne = modeDim.group().reduceSum(function(d) {return d.catne;});
     var ssnGroupcatne = ssnDim.group().reduceSum(function(d) {return d.catne;});
     var daytypeGroupcatne = daytypeDim.group().reduceSum(function(d) {return d.catne;});
     var periodGroupcatne = periodDim.group().reduceSum(function(d) {return d.catne;});
     var areaGroupcatne = areaDim.group().reduceSum(function(d) {return d.catne;});
     var speciesGroupcatne = speciesDim.group().reduceSum(function(d) {return d.catne;});

     // =================
     //     CHARTS

     var width = 400;
     var height = 400;
     var radius = (width * 0.7)/2;

     catSpeciesChart.width(width)
                    .height(height)
                    .radius(radius)
                    .dimension(speciesDim)
                    .group(speciesGroupcatne);


     catSeasonChart.width(width)
                   .height(height)
                   .dimension(ssnDim)
                   .group(ssnGroupcatne)
                   .x(d3.scale.linear().domain([0,100]))
                   .elasticX(true);

     catSpaceChart.width(width)
                  .height(height)
                  .dimension(areaDim)
                  .group(areaGroupcatne)
                  .x(d3.scale.linear().domain([0,100]))
                  .elasticX(true);

     catModeChart.width(width)
                 .height(height)
                 .radius(radius)
                 .dimension(modeDim)
                 .group(modeGroupcatne);

     catPeriodChart.width(width)
                   .height(height)
                   .dimension(periodDim)
                   .group(periodGroupcatne)
                   .radius(radius);

     catDaytypeChart.width(width)
                    .height(height)
                    .dimension(daytypeDim)
                    .group(daytypeGroupcatne)
                    .radius(radius);

     catchTable.width(2 * width).height(1200)
     //.showGroups(true
               .dimension(modeDim)
               .group(function(d){ return "" })
               .columns([
                   function(d) { return d.area; },
                   function(d) { return d.season; },
                   function(d) { return d.dtp; },
                   function(d) { return d.period; },
                   function(d) { return d.mode; },
                   function(d) { return d.sek; },
                   function(d) { return d.species; },
                   function(d) { return d.catne; }
               ])
               .sortBy(function(d){ return d.area; })
               .order(d3.ascending);

     //var recordCount =  dc.dataCount('.dc-data-count');
     // record count will not render all option or the filter-count in the html.
     var recordCount = dc.dataCount('.dc-data-count')
                         .dimension(estimates)
                         .group(all)
                         .html({
                             some: '<strong>%filter-count</strong> selected out of <strong>%total-count</strong> records' +
                                   ' | <a href=\'javascript:dc.filterAll(); dc.renderAll();\'>Reset All</a>',
                             all: 'All records selected. Please click on a graph to apply filters.'
                         });


     dc.renderAll();



     // intiailize map based on the lake this creel occurs in
     var lat = {{ creel.lake.ddlat }}
     var lon =  {{ creel.lake.ddlon }}
     var zoom =  {{ creel.lake.zoom }}

     var  map = new L.map('map').setView([lat,lon], zoom);


     function drawMap(){


         L.mapbox.accessToken = 'pk.eyJ1IjoiYWNvdHRyaWxsIiwiYSI6ImNpazVmb3Q2eDAwMWZpZm0yZTQ1cjF3NTkifQ.Pb1wCYs0lKgjnTGz43DjVQ';
         // Replace 'mapbox.streets' with your map id.
         var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
             attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
         }).addTo(map);


         var spaceMarkers = new L.FeatureGroup();
         spaceMarkers.clearLayers();


         $.each( spaces, function(i, x) {
             var marker = L.circle([x.ddlat, x.ddlon], 25, {
                 color:'red',
                 fillColor: 'red',
                 fillOpacity: 1
             });
             popup = "<p>Space: " + x.label + "</p>"
             marker.bindPopup(popup);
             spaceMarkers.addLayer(marker);

         });

         var bubbleMarkers = new L.FeatureGroup();
         // areaDim will response to filters and only include the
         // selected records
         var mapPoints = get_map_points(areaDim.top(Infinity));
         var geojsonPts = points_to_geojson(mapPoints);
         //
         bubbleMarkers.clearLayers();
         bubbles = L.bubbleLayer(geojsonPts, { property: "Total Catch",
                                               legend: false,
                                               max_radius : 40,
                                               scale: 'YlGnBu',
                                               tooltip : "Total Catch"
         });

         // add the bubbles first so that the net centroid markers are on top
         bubbleMarkers.addLayer(bubbles);
         map.addLayer(bubbles);

         map.addLayer(spaceMarkers);
         var bounds =spaceMarkers.getBounds();
         if (bounds.isValid()){
             map.fitBounds(bounds, {padding: [50,50]});
         }

     }

     drawMap();

     // refresh our map each time one of the charts change

     dcCharts = [catSpeciesChart,
                 catSeasonChart,
                 catSpaceChart,
                 catModeChart,
                 catPeriodChart,
                 catDaytypeChart]


     _.each(dcCharts, function (dcChart) {
         dcChart.on("filtered", function (chart, filter) {
             map.eachLayer(function (layer) {
                 map.removeLayer(layer)
             });
             drawMap();
         });




 })


 });

        </script>

{% endblock %}
