{% extends "base.html" %}


{% load staticfiles %}

{% block extrahead  %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reductio/0.6.3/reductio.js"></script>  -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

<!-- <script src="{% static 'leaflet-bubble.js' %}"></script> -->

<style type="text/css" media="screen">
 #filter-buttons a {
     margin-bottom: 3px;
 }
 .dc-chart g.row text {fill: black;}
</style>

{% endblock %}


{% block content %}

<div class="row" >
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>this will be a leaflet map</h3>
            </div>
        </div>
    </div>
</div>



<div class="row" >
    <div class="col-md-6" >
        <div id="eff-season-chart">
            <strong>Effort By Season</strong>
            <a class="reset" href="javascript:effSeasonChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>
    <div class="col-md-6" >
        <div id="eff-space-chart">
            <strong>Effort By Space</strong>
            <a class="reset" href="javascript:effSpaceChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-4" >
        <div id="eff-daytype-chart">
            <strong>Effort By Day Type</strong>
            <a class="reset" href="javascript:effDaytypeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>

    <div class="col-md-4" >
        <div id="eff-period-chart">
            <strong>Effort By Period Type</strong>
            <a class="reset" href="javascript:effPeriodChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>
    <div class="col-md-4" >
        <div id="eff-mode-chart">
            <strong>Effort By Fishing Mode</strong>
            <a class="reset" href="javascript:effModeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>
</div>


{% endblock content %}


{% block javascript %}

<script type="text/javascript">

// var effSeasonChart = dc.barChart('#eff-season-chart');
// var effSpaceChart = dc.barChart('#eff-space-chart');

 var effSeasonChart = dc.rowChart('#eff-season-chart');
 var effSpaceChart = dc.rowChart('#eff-space-chart');

 var effModeChart = dc.pieChart('#eff-mode-chart');
 var effPeriodChart = dc.pieChart('#eff-period-chart');
 var effDaytypeChart = dc.pieChart('#eff-daytype-chart');

    d3.json("{% url 'effort_estimates' creel.slug %}", function (error, data) {

        data = data.results

        var mydateformat = d3.time.format('%B %d, %Y');
        var isodateformat = d3.time.format.iso;

        data.forEach(function(d){
            d.mode = d.mode;
            d.season = d.season;
            d.dtp = d.dtp;
            d.period = d.period;
            d.area = d.area;
            d.date = isodateformat.parse(d.date);
            d.effre = +d.effre;
            d.effae = +d.effae;
            d.effao_s = d.effao_s;
            d.effro_s = d.effro_s;
        });

        var estimates = crossfilter(data);

        var all = estimates.groupAll();
        var all_effre = all.reduceSum(function(d){return d.effre;});
        //var all_effae = all.reduceSum(function(d){return d.effae;});

        //create a dimension for each strata
        var modeDim = estimates.dimension(function(d) { return d.mode; });
        var ssnDim = estimates.dimension(function(d) { return d.season; });
        var daytypeDim = estimates.dimension(function(d) { return d.dtp; });
        var periodDim = estimates.dimension(function(d) { return d.period; });
        var areaDim = estimates.dimension(function(d) { return d.area; });

        // create goups from each of our dimensions
        var modeGroup = modeDim.group();
        var ssnGroup = ssnDim.group();
        var daytypeGroup = daytypeDim.group();
        var periodGroup = periodDim.group();
        var areaGroup = areaDim.group();

        // reducer functions for each group:
        // sum for now, but could be more complicated later

        var modeGroupeffre = modeDim.group().reduceSum(function(d) {return d.effre;});
        var ssnGroupeffre = ssnDim.group().reduceSum(function(d) {return d.effre;});
        var daytypeGroupeffre = daytypeDim.group().reduceSum(function(d) {return d.effre;});
        var periodGroupeffre = periodDim.group().reduceSum(function(d) {return d.effre;});
        var areaGroupeffre = areaDim.group().reduceSum(function(d) {return d.effre;});

        // =================
        //     CHARTS

        var width = 500;
        var height = 500;


        var sm_width = width * 0.6;
        var sm_height = width * 0.6;
        var radius = (sm_width * 0.8)/2;

        effSeasonChart.width(width)
                      .height(height)
                      .dimension(ssnDim)
                      .group(ssnGroupeffre)
                      .x(d3.scale.linear().domain([0,100]))
                      .elasticX(true)
                      .render();

        effSpaceChart.width(width)
                      .height(height)
                      .dimension(areaDim)
                      .group(areaGroupeffre)
                      .x(d3.scale.linear().domain([0,100]))
                      .elasticX(true)
                      .render();

        effModeChart.width(sm_width)
                    .height(sm_height)
                    .radius(radius)
                    .dimension(modeDim)
                    .group(modeGroupeffre)
                    .render();

        effPeriodChart.width(sm_width)
                    .height(sm_height)
                    .dimension(periodDim)
                      .group(periodGroupeffre)
                      .radius(radius)
                    //.x(d3.scale.linear().domain([0,100]))
                    //.elasticX(true)
                    .render();

        effDaytypeChart.width(sm_width)
                      .height(sm_height)
                      .dimension(daytypeDim)
                       .group(daytypeGroupeffre)
                       .radius(radius)
                      //.x(d3.scale.linear().domain([0,100]))
                      //.elasticX(true)
                      .render();
    }
    )


</script>

{% endblock %}
