{% extends "creel_portal_base.html" %}


{% block content %}


{% if lake or q %}

{% if lake and object_list %}
<h3>All creels run on Lake {{lake|title}}:</h3>
{% endif %}

{% if q and object_list %}
<h3>Creels that contain "{{q}}" in their project code or name:</h3>
{% endif %}

{% if object_list %}

<div class="panel panel-default">
    <div class="panel-body">

        <table class="table">
            <tbody>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Project Code</th>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                {% for creel in object_list %}
                <tr>
                    <td>{{ creel.year }}</td>
                    <td> <a href="{{ creel.get_absolute_url }}">{{ creel.prj_cd }}</a> </td>
                    <td>{{ creel.prj_nm|title }}</td>
                    <td>{{ creel.prj_date0 }}</td>
                    <td>{{ creel.prj_date1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>

{% else %}

{% if q %}
<h3>Oops! There doesn't appear to be any creels with "{{q}}" in their project code or name.</h3>
{% else %}
<h3>Oops! There doesn't appear to be any creels that match that criteria.</h3>
{% endif %}

{% endif %}  {% comment %} if object list {% endcomment %}




{% else %}


{% if object_list %}

{% regroup object_list by lake as lake_list %}

{% for lake in lake_list %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Lake {{ lake.grouper.lake_name|title }} ({{ lake.grouper.abbrev }})</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Project Code</th>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                {% for creel in lake.list|slice:":15" %}
                <tr>
                    <td>{{ creel.year }}</td>
                    <td> <a href="{{ creel.get_absolute_url }}">{{ creel.prj_cd }}</a> </td>
                    <td>{{ creel.prj_nm|title }}</td>
                    <td>{{ creel.prj_date0 }}</td>
                    <td>{{ creel.prj_date1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not q %}
        <a class="btn btn-info"  href="{% url 'creels_by_lake' lake.grouper.lake_name %}">All Lake {{ lake.grouper.lake_name|title }} creels</a>
        {% endif %}
    </div>

</div>

{% endfor %}

{% else %}

<h3>Oops! There doesn't appear to be any creels that match that criteria.</h3>
{% endif %}

{% endif %}






{% endblock content %}
